body {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    background-color: rgba(200, 200, 200, 0.3);
}

header {
    grid-column: 1 / 9;
    background-color: rgba(139, 100, 78, 0.7);
    height: 80px;
}

.content-1 {
    grid-column: 2 / 8;
    background-color: rgba(100, 149, 237, 0.7);
    height: 150px;
}

.content-2 {
    grid-column: 2 / 8;
    background-color: rgba(240, 128, 128, 0.7);
    height: 250px;
}

.content-3 {
    grid-column: 3 / 7;
    background-color: rgba(255, 215, 0, 0.7);
    height: 100px;
}
